__pycache__/
.venv/
.DS_Store
.idea/
.vscode/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ruff_cache/

*.7z
ilspeech_speaker1_v1/
data/
ilspeech_speaker2_v1/
*.wav
*.mp3
*.ogg
*.flac
*.m4a
*.wma
*.aac
*.opus
whisper-heb-nikud/
dataset_cache/
wandb/
.gradio/
!example1.wav
whisper-heb-nikud-ct2/
dataset/
.dataset-cache/